/* color */
.warna-4{color : red;}
.warna-3{color : red;}
.warna-2{color : red;}
.warna-1{color : red;}
.warna{color : red;}
.warna1{color : red;}
.warna2{color : red;}
.warna3{color : red;}
.warna4{color : red;}
.putih{color : white;}
.putih1{color : white;}
.putih2{color : white;}
.putih3{color : white;}
.hitam{color : grey;}
.hitam1{color : grey;}
.hitam2{color : grey;}
.hitam3{color : grey;}
.warnaVariasi{color:green;}
.warnaVariasi1{color:green;}
.warnaVariasi2{color:green;}
.warnaVariasi3{color:green;}
.warnaVariasi3{color:green;}

/* backgound color */
.bwarna-4{background-color : red;}
.bwarna-3{background-color : red;}
.bwarna-2{background-color : red;}
.bwarna-1{background-color : red;}
.bwarna{background-color : red;}
.bwarna1{background-color : red;}
.bwarna2{background-color : red;}
.bwarna3{background-color : red;}
.bwarna4{background-color : red;}
.bputih{background-color : white;}
.bputih1{background-color : white;}
.bputih2{background-color : white;}
.bputih3{background-color : white;}
.bhitam{background-color : grey;}
.bhitam1{background-color : grey;}
.bhitam2{background-color : grey;}
.bhitam3{background-color : grey;}
.bwarnaVariasi{background-color:green;}
.bwarnaVariasi1{background-color:green;}
.bwarnaVariasi2{background-color:green;}
.bwarnaVariasi3{background-color:green;}
.bwarnaVariasi3{background-color:green;}