.bold{font-weight: bold;}
.italic{font-style: italic;}
.size{font-size: 12px;}
.weight{font-weight: 12px;}

.judul1{font-size: 12px;font-family: Arial, Helvetica, sans-serif;}
.judul2{font-size: 12px;font-family: Arial, Helvetica, sans-serif;}
.judul3{font-size: 12px;font-family: Arial, Helvetica, sans-serif;}
.paragraf{font-size: 12px;font-family: Arial, Helvetica, sans-serif;}
.harga{font-size: 12px;font-family: Arial, Helvetica, sans-serif;}