/* DOKUMENTASI

framework pageMe dibuat pada tanggal 6 juni 2022. 
Pembuatan ini di tujukan untuk memudahkan dalam 
pengembangan Web untuk beberapa project pribadi (Saiti mobile dan e-commerce)
karena saya kesulitan dalam pengembangan dengan menggunakan framework yang ada 
demi untuk slicing desain dari figma. maka saya mengembangkan sendiri framework yang customable. kekuatan dalam framework ini pada customablenya sedangkan fitur lainya 
masih nimbrung pada W3school
Fitur unggulan: ;
- Base config css
- Grid system
- Layouting flex dan grid
- Responsive
- Darkmode
- Themes ready
- Variabel CSS
- sebagian elemen
- sebagian komponen
- selebihnya silahkan merujuk pada W3School
__________________________________________________________
Daftar isi:

_________________________________
NAMA FITUR          |   BARIS KE
____________________|____________
Base 
  - clearing        :
  - 
layout
  - Flex            :
  - grid            :
  - grid system     :
  - Responsive      :
  - @media queries  :
  - Float           :
Utility
  - warna
  - darkmode
  - bayang
  - border
  - typografi
  - list
Elemen
  - Tombol
  - 
  - tooltips
  - input
Komponen
  - tabel
  - card
Darkmode


Flex
----------------------------------------------------------
flexBox    : container flex hrizontal
flexBoxCol : container Flex vertikal

fstart     : 
fcenter    : flex tengah datar 
fend       : 

faround    : flex spasi sama
fbetween   : flex spasi sama tepi
stretch    : penuhi lebar 100% ??????

fstartv    : align start
fcenterv   : align center
fendv      : align end
stretchv   : stretch

fself1     : flex justify self (H)
fself2     : flex justify self (H)
fself3     : flex justify self (H)

fself1v    : flex align self (V)
fself2v    : flex align self (V)
fself3v    : flex align self (V)

f-center   : 

Grid 
----------------------------------------------------------
gridBox    : 
gstart     : 
gcenter    : 
gend       : 
stretchv   : 

ggstart    : 
ggcenter   : 
ggend      : 
ggstretch  : 

gself      : 
ggself     : 

g-center   : 

Grid system 
----------------------------------------------------------
karakteristik grid disini adalah:
1 .row sebagai container grid
2 .col1 - 12 adalah colom yng disediakan dlm grid
3 pastikan dalam row total tetap 12 berapapun bagian yang 
  akan di buat jika lebih maka akan langsung jatuh kebawah
  jadinya malah bukan row (satu baris) malah jadi multirow
  gagal dalam membagi row (malah jadi layar mobile)
4 kalau mau offset tetap pastikan 12 kolom terserah offsetnya 
  mau di taruh di kolom berapa? 
5 sudah responsive dengan mobile: ;
  - jadi saat large semua elemen sesuai porsi dalam grid
    tapi saat mobile lebar 100%
  - kalau mau mode tablet 100% maka tinggal tambah .col2tab
  - contoh: (ada di w3school > w3 grid)
    3 kolom dalam 3 layar : 
      - layar desktop :  .col2 .col6tab | .col6 .col6tab | .col4 .col12tab
    lakukan setting pada masing2 kolom 2 setting sekaligus sesuai 
    dengan porsi yang di minta untuk layar yang di gunakan
6 - col1 - 12 = layar desktop responsive pada layar mobile lebar 100%\
  - col1tab - col12tab = kolom porsi tablet responsive juga dengan mobile 
    lebar 100% contoh dibawah sudah responsive 3 layar desktop, tablet, mobile

    <div class="row">
      <div class="col2 col8tab">sidebar</div>
      <div class="col6 col4tab">contain</div>
      <div class="col4 col12tab">kanan</div>
    </div>
Media Query 
----------------------------------------------------------
jika kita akan membuat elemen "yang ada" kita desain ulang
pada tiap layar kita tinggal masukan saja ketentuanya di media 
yang sudah di sediakan
- baik secara layout, tukar tempat, tampilkan sembunyikan
  bahkan warna dan ukuran silahkan 
- 
lanjutkan ke grid dan flex belum sempurna serta base styles
kemudian lanjutkan ke elemen yang akan siap di custom

perhatikan tabel ?????
----------------------------------------------------------

ul button, input, select, textarea
lanjutkan ke 
- utilities masing2 framework 
- mode theme
- darkmode 






TEMPLATE ELEMENT pageMe
__________________________________________________________
Copas Saja elemen bersangkutan di elemen 2 contoh dalam
pageMe lalu matikan di pageMe gunakan di index.css anda

  - input 
    - text
    - check
    - radio
    - select
  - button
  - 
  
TEMPLATE KOMPONEN pageMe
__________________________________________________________
tooltip
accordion
tabel

START FRAMEWORK
========================================================== */

/* Bulma Base */
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
/*h1,h2,h3,h4,h5,h6 {
  font-size: 100%;
  font-weight: normal;
}*/
ul {
  list-style: none;
}
button, input, select, textarea {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
img, video {
  height: auto;
  max-width: 100%;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td, th {
  padding: 0;
}
td:not([align]),
th:not([align]) {
  text-align: inherit;
}
html {
  background-color: white;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
          text-size-adjust: 100%;
}
article, aside, figure, footer, header, hgroup, section {
  display: block;
}
body, button, input, optgroup, select, textarea {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvfile:///home/iza/Desktop/kerja/OPPER/Dashboard/latihan4.htmletica Neue", "Helvetica", "Arial", sans-serif;
}
code, pre {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: monospace;
}
body {
  color: #4a4a4a;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
}
a {
  color: #485fc7;
  cursor: pointer;
  text-decoration: none;
}
a strong {
  color: currentColor;
}
a:hover {
  color: #363636;
}
code {
  background-color: whitesmoke;
  color: #da1039;
  font-size: 0.875em;
  font-weight: normal;
  padding: 0.25em 0.5em 0.25em;
}
hr {
  background-color: whitesmoke;
  border: none;
  display: block;
  height: 2px;
  margin: 1.5rem 0;
}
img {
  height: auto;
  max-width: 100%;
}
input[type="checkbox"],
input[type="radio"] {
  vertical-align: baseline;
}
small {
  font-size: 0.875em;
}
span {
  font-style: inherit;
  font-weight: inherit;
}
strong {
  color: #363636;
  font-weight: 700;
}
fieldset {
  border: none;
}
pre {
  -webkit-overflow-scrolling: touch;
  background-color: whitesmoke;
  color: #4a4a4a;
  font-size: 0.875em;
  overflow-x: auto;
  padding: 1.25rem 1.5rem;
  white-space: pre;
  word-wrap: normal;
}

pre code {
  background-color: transparent;
  color: currentColor;
  font-size: 1em;
  padding: 0;
}

table td,
table th {
  vertical-align: top;
}

table td:not([align]),
table th:not([align]) {
  text-align: inherit;
}

table th {
  color: #363636;
}

@-webkit-keyframes spinAround {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes spinAround {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* pageMe

VARIABEL CSS
----------------------------------------------------------*/

:root{
  --abu1: whitesmoke ;
  --abu2: #ececec;
  --abu3: #e8e8e8;
  --abu4: #cacaca;
  
  --hitam1: ;
  --hitam2: ;
  --hitam3: ;
  --hitam4: ;
  
  --primary1t: ;
  --primary2g: ;

  --gradien1: ;

  --radius1: ;
  --shadow1: ;
  --border1: ;
  --MarPed1: ;
  --fontSize1: ;
  --1: ;
}
/* background --------- */
.abu1b{ background-color: var(--abu1); }
.abu2b{ background-color: var(--abu2); }
.abu3b{ background-color: var(--abu3); }
.abu4b{ background-color: var(--abu4); }

.hitam1b{ background-color: var(--hitam1); }
.hitam2b{ background-color: var(--hitam2); }
.hitam3b{ background-color: var(--hitam3); }
.hitam4b{ background-color: var(--hitam4); }

.primary1bt{ background-color: var(--biru-t1); }
.primary1bg{ background-color: var(--biru-g1); }

/* warna ---------- */
.abu1{ color: var(--abu1); }
.abu2{ color: var(--abu2); }
.abu3{ color: var(--abu3); }
.abu4{ color: var(--abu4); }

.hitam1{ color: var(--hitam1); }
.hitam2{ color: var(--hitam2); }
.hitam3{ color: var(--hitam3); }
.hitam4{ color: var(--hitam4); }

.primary-t1{ color: var(--biru-t1); }
.primary-g1{ color: var(--biru-g1); }


/*.abu2{color: darkred;}*/


/* ELEMENT
__________________________________________________________*/
/* button */
button.pm{
  background-color: salmon;
  color: white;
  height: 40px;
  padding: 0 20px  ;
  border: none;
  outline: none;
  border-radius: 4px;
  box-shadow: 2px 4px 10px -2px darksalmon;
}
button.pm:hover{
  background-color: darksalmon;
  box-shadow: 2px 4px 12px -2px darksalmon;
}
button.pm:active{
  background-color: yellowgreen;
}
/* input text*/
input.pm {
  border: none;
  outline: none; 
  background-color: whitesmoke;
  color: blue;
  width: 200px;
  height: 40px;
  padding: 10px;
  border: 1px solid salmon;
  border-radius: 4px;
}
input.pm:focus{
  border: 1px solid red;
  background-color: ghostwhite;
}

/* KOMPONEN */
/* Modal copas HTMLnya di bawah
__________________________________________________________*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
  background-color: #fefefe;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.modalShow {
  display: block;
}
.xClose{
  border: none;
  outline: none;
  background-color: red;
  color: white;
  font-weight: bold;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  position: absolute;
  top: -10px;
  right: -10px;
}
/*  
<button onclick="document.getElementById('isiModal').classList.toggle('modalShow');">Modal</button>
<div id="isiModal" class="modal">
  <div class="modal-content">
  halo modal
  <button onclick="document.getElementById('isiModal').classList.toggle('modalShow');" class="xClose">X</button>
  <button onclick="document.getElementById('isiModal').classList.toggle('modalShow');">Keluar</button>
  </div>
</div>
*/
__________________________________________________________*/
/* Tabel class = tabel1 tersedia HTML nya dibawah ini */
.tabel1 {
    /*font-family: sans-serif;*/
    color: #444;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #f2f5f7;
}
 
.tabel1 tr th{
    background: #35A9DB;
    color: #fff;
    font-weight: normal;
}
 
.tabel1, th, td {
    padding: 10px 20px;
    text-align: left;
}
 
.tabel1 tr:hover {
    background-color: #f5f5f5;
}
 
.tabel1 tr:nth-child(even) {
    background-color: #f2f2f2;
}
/*
<table class="tabel1">
   <tr>
      <th>Quesioner</th>
      <th>Nilai</th>
   </tr>
   <tr>
      <td>Nama pemohon</td>
      <td>: aqil</td>
   </tr>
   <tr>
      <td>Layanan</td>
      <td>: Surat Keterangan Usaha</td>
   </tr>
</table>
*/

/* LAYOUT
__________________________________________________________*/
.container:after,.container:before{
	content:"";
	display:table;
	clear:both
}
/* flex
----------------------------------------------------------*/
.flexBox{ display: flex; }
.flexBoxCol{ display: flex; flex-direction: column; }
.fcenter{ justify-content: center;}
.faround{ justify-content: space-around; }
.fbetween{ justify-content: space-between; }
/**/
.stretch{ width: 100%; }
/**/
.ffstart{ align-items: flex-start; }
.ffcenter{ align-items: center; }
.ffend{ align-items: flex-end; }

/* grid
----------------------------------------------------------*/
.gridBox{}

/* ?????????????? */

/* grid system
----------------------------------------------------------*/
.row::after {
  content: "";
  clear: both;
  display: table;
}
[class*="col"] {
  float: left;
  /*padding: 15px;*/
}
/* For mobile phones: */
[class*="col"] {
  width: 100%;
}
/* For tablets: */
@media only screen and (min-width: 600px) {
  .col1tab {width: 8.33%;}
  .col2tab {width: 16.66%;}
  .col3tab {width: 25%;}
  .col4tab {width: 33.33%;}
  .col5tab {width: 41.66%;}
  .col6tab {width: 50%;}
  .col7tab {width: 58.33%;}
  .col8tab {width: 66.66%;}
  .col9tab {width: 75%;}
  .col10tab {width: 83.33%;}
  .col11tab {width: 91.66%;}
  .col12tab {width: 100%;}
}
/* For desktop: */
@media only screen and (min-width: 768px) {
  .col1 {width: 8.33%;}
  .col2 {width: 16.66%;}
  .col3 {width: 25%;}
  .col4 {width: 33.33%;}
  .col5 {width: 41.66%;}
  .col6 {width: 50%;}
  .col7 {width: 58.33%;}
  .col8 {width: 66.66%;}
  .col9 {width: 75%;}
  .col10 {width: 83.33%;}
  .col11 {width: 91.66%;}
  .col12 {width: 100%;}
}
/* offset */
  .off1 {margin-left: 8.33%;}
  .off2 {margin-left: 16.66%;}
  .off3 {margin-left: 25%;}
  .off4 {margin-left: 33.33%;}
  .off5 {margin-left: 41.66%;}
  .off6 {margin-left: 50%;}
  .off7 {margin-left: 58.33%;}
  .off8 {margin-left: 66.66%;}
  .off9 {margin-left: 75%;}
  .off10 {margin-left: 83.33%;}
  .off11 {margin-left: 91.66%;}
  .off12 {margin-left: 100%;}

/* Media query
----------------------------------------------------------*/
/* w3 */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {...}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}

/* skeleton */
/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

/* Selesai
=========================================================== */
