/* CSS ini hanya akan di jalankan saat print saja jika di load di HTML display="print" */

.container{
	/* ukuran A4 */
	width: 790px;
	height: 1000px;
	background-color: pink;
	margin: 0 auto;
	/* border tidak jalan */
	border: 1px solid black;
}
.header{
	background-color: black;
	color: white;
}
.footer{
	background-color: black;
	/* footer hilangkan saat printing */
	display: none;
}
/* di gunakan untuk pagebreak */
.newPage{
	page-break-before: always;
}


